.task-details {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.task-details__subtitle {
  margin-top: 10px;
}

.task-details__button-return {
  margin-top: 5rem;
}

.button-return-to-home {
  font-size: 14px;
  padding: 15px;
}