.task-details {
  padding: 3% 5% 5% 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}

.task-details__page-title {
  align-self: flex-start;
}

.task-details__task-card-descr {
  align-self: flex-start;
  margin-top: 50px;
}


.task-details__btn-return-to-home {
  align-self: flex-start;
}


