.home {
  padding: 3% 20% 5% 20%;
  display: flex;
  flex-direction: column;

}

.home__page-title {}

.home__add-circle-btn {
  align-self: flex-end;
  margin-bottom: 11px;
}

.add-circle-btn {}

.add-circle {
  margin-right: 13px;
  font-size: 38px;
  &:hover {
    opacity: 0.6;
    cursor: pointer;
  }
}