//@import '~materialize-css/sass/materialize.scss';
@import "nullstyle.scss";

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  color: #1c1c1c;
  font-family: "Roboto", sans-serif;
}

.page-title {
  font-size: 30px;
  font-weight: 950;
}

.btn-return-to-home {
  font-size: 14px;
  padding: 15px;
}