.profile {
  flex: 1 1 auto;
}

.profile__body {
  margin: 5% 0 5% 0;
  background-color: #ffffff;
  border-radius: 24px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.profile__header {
  margin: 0 0 30px 0;
}

.user__info {
  display: flex;
  flex-direction: column;
}

.profile__username {
  font-size: 20px;
  margin: 0 0 50px 0;
}

.profile__exit {
  font-size: 20px;
  color: red;
  align-self: center;
}