.task-card-descr {}

.task-card-descr__body-descr {
}

.body-descr {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.body-descr__element {
}

.body-descr__element_userid {
  margin-bottom: 10px;
}

.body-descr__element_taskid {}

.body-descr__element_title {
  margin-bottom: 10px;
}

.body-descr__element_text {}

.body-descr__element_time {}

.wrap-id {}
.wrap-body {}
.wrap-time {}