.task-card-descr {}

.task-card-descr__body-descr {
}

.body-descr {
  display: flex;
  flex-direction: column;
}

.body-descr__element {
}

.body-descr__element_userid {
  margin-bottom: 10px;
}

.body-descr__element_taskid {}

.body-descr__element_title {
  margin-bottom: 10px;
}

.body-descr__element_text {
}

.body-descr__element_time {
  margin-bottom: 50px;
}

.wrap-id {
  margin-bottom: 50px;
}

.wrap-body {
  margin-bottom: 50px;
}

.wrap-time {}