.footer {
  //background-color: #000d24;
  background-color: rgb(118,69,217);
  //background-color: #7b6eac;
  color: white;
  min-height: 60px;
  display: flex;
  align-items: center;
  z-index: 100;
}

.footer__copy {
  font-size: 18px;
  margin-left: 25px;
  letter-spacing: 0.5px;
}