.footer {
  background-color: #000d24;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-template-area: footer;
}

.footer__copy {
  font-size: 18px;
  margin-left: 25px;
}