.create-page {
  padding: 3% 5% 5% 5%;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.create-page__page-title {
  align-self: flex-start;
}

.create-page__btn-return-to-home {
  align-self: flex-start;
}