.create-task {
  width: 100%;
}

.create-task__taskadd-form-group {}

.taskadd-form-group {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.taskadd-form-group__create-title {
  width: 100%;
  label {
    display: block;
    font-size: 18px;
    padding-left: 10px;
  }
  input,textarea {
    width: 100%;
    box-sizing: border-box;
    background: transparent;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    color: #000;
    border-radius: 2px;
    padding: 10px;
    margin: 10px 0 10px 0;
    font-family: inherit;
    font-size: 14px;
  }
}

.create-title {}

.taskadd-form-group__create-text {
  width: 100%;
  label {
    display: block;
    font-size: 18px;
    padding-left: 10px;
  }
  input,textarea {
    width: 100%;
    box-sizing: border-box;
    background: transparent;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    color: #000;
    border-radius: 2px;
    padding: 10px;
    margin: 10px 0 10px 0;
    font-family: inherit;
    font-size: 14px;
  }
}

.create-text {}

.taskadd-form-group__btn-create-task {
  display: flex;
  align-self: flex-end;
}

.btn-create-task {
  background: white;
  color: black;
  //border: 1px solid red;
  border: none;
  font-family: inherit;
  font-size: 18px;
  &:hover {
    opacity: 0.9;
  }
}