.loginform {
  display: flex;
  flex-direction: column;
}

.loginform__form-header {
  height: 60px;
  font-size: 24px;
  font-weight: 900;
  background: #000d24;
  color: white;
  display: flex;
  align-items: center;
  padding-left: 15px;
  margin-bottom: 20px;
}

.form-header {}

.loginform__form-content {
  height: 200px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  input,textarea {
    width: 100%;
    box-sizing: border-box;
    background: transparent;
    border-bottom: 1px solid #ccc;
    color: #000;
    border-radius: 2px;
    padding: 10px;
    margin: 10px 0 10px 0;
    font-family: inherit;
    font-size: 14px;
  }
}

.form-content {}

.form-content__login-email {}

.form-content__login-password {}

.form-content__btn-auth {
  align-self: flex-end;
}

.btn-auth {
  background: white;
  color: black;
  border: none;
  font-family: inherit;
  font-size: 18px;
  &:hover {
    opacity: 0.9;
  }
}

.loginform__change-to-register {
  height: 50px;
  padding: 20px;
}

.btn-to-register {
  background: white;
  color: blue;
  font-size: 15px;
  border: none;
  font-family: inherit;
}















