.loginform-content {
  //display: flex;
  //align-items: center;
  //justify-content: center;
  padding: 5%;
  color: black;
}

.loginform-form {
  width: 100%;
  label {
    display: block;
    font-size: 18px;
    padding-left: 10px;
  }
  input {

  }
}

.loginform-form {
  input,textarea {
    width: 100%;
    box-sizing: border-box;
    //border: 1px solid black;
    background: transparent;
    border-bottom: 1px solid #ccc;
    color: #000;
    border-radius: 2px;
    //padding: 15px 0 10px;
    padding: 10px;
    margin: 10px 0 10px 0;
    font-family: inherit;
    font-size: 14px;
  }
}

.loginform__btns {
  display: flex;
  justify-content: end;
  .btn-auth {
    background: white;
    color: black;
    //border: 1px solid black;
    border: none;
    font-family: inherit;
    font-size: 18px;
    &:hover {
      opacity: 0.9;
    }
  }
  .reg-btn {
    margin-right: 2rem;
    color: grey;
  }
}

.loginform__header {
  grid-row: 1/2;
  font-size: 24px;
  font-weight: 900;
  background: #000d24;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4%;
  .modal__close {
    color: white;
    &:hover {
      opacity: 0.6;
    }
  }
}