.header {
  background-color: rgb(118, 69, 217);
  //background-color: #7b6eac;
  color: white;
}

.header__container {

}


.header-wrap-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 52px;
}



hr {
  border: none; /* Убираем границу для браузера Firefox */
  color: darkgray; /* Цвет линии для остальных браузеров */
  background-color: darkgray; /* Цвет линии для браузера Firefox и Opera */
  height: 1px; /* Толщина линии */
}

.header-wrap-bottom {

}

.header__username {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1px;
}


.header__exit {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}


.exit {
}

.exit__icon {
  cursor: pointer;
}

.exit__icon:not(:last-child) {
  margin: 0 5px 0 0;
}

.exit__link a {
  color: #1c1c1c;
  font-weight: 700;
  font-size: 22px;
  letter-spacing: 1px;
}



.header__menu {
  margin: 2px 0 0 0;
}

.menu {

}

ul.menu__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}


li.menu__item {
  font-size: 14px;
  color: #000;
  border: none;
  width: 100%;
  display: flex;
  border-radius: 16px 16px 0 0;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}





li.menu__item:hover {
  background-color: white;
  //color: rgb(255, 219, 28);
}

a.menu__link {
  font-weight: 700;
  font-size: 18px;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 20px;
  color: inherit;
  text-align: center;
  line-height: calc(14 / 24 * 100%);
}


.menu__link_profile {
  position: relative;
}

.menu__link_profile::after {
  content: "Soon";
  font-size: 10px;
  display: inline-flex;
  align-items: center;
  height: 15px;
  padding: 0 8px 2px;
  background: rgb(255, 219, 28);
  color: rgb(7, 22, 45);
  border-radius: 16px;
  position: absolute;
  right: 5%;
  bottom: 34%;
}


@media (max-width: 440px) {
  .header-wrap-top {
    display: flex;
    flex-direction: column-reverse;
  }
  .header__username {
    align-self: center;
    margin: 0 0 2px 0;
  }
  .header__exit {
    align-self: flex-end;
    margin: 15px 0 20px 0;
  }
  li.menu__item {
    border-radius: 0;
  }
  li.menu__item:last-child {
    margin: 0 0 5px 0;
  }
  li.menu__item:active {
    background-color: white;
  }
  a.menu__link {
    padding: 20px;
  }
  .menu__link_profile::after {
    right: 2%;
  }
  .exit__icon {
    font-size: 16px;
  }
  .exit__link a {
    font-size: 24px;
  }
  ul.menu__list {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 560px) {
  .menu__link_profile::after {
    right: -10%;
  }
}
