.header {
  background-color: #000d24;
  color: white;
  grid-template-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__username {
  .username {
    font-size: 26px;
    margin-left: 25px;
  }
}

.header__exit {
  .logout {
    font-size: 20px;
    margin-right: 25px;
    cursor: pointer;
  }
}